@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, p, .subheading {
    font-family: 'Raleway', sans-serif;
}

body {
	background: rgb(247, 224, 154);
}


.projects-card {
	max-width: 27rem;
	max-height: 20rem;
	/* margin: 3rem; */
}

.projects-grid{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
	place-items: center;
}

.album {
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-gap: 10px;
	align-items: center;
	color: white;
	font-weight: 100;
  }

  .album__artwork {
	width: 100%;
  }